<div *ngIf="show" class="popup-background" (click)="closePopup()">

<div class="popup">
    <div class="popup-header">
      <h2>Crear documento</h2>
    </div>
    <div class="popup-body">
      <form>
        <div class="file-upload">
          <input type="file" id="fileInput" hidden (change)="onFileSelected($event)" />
          <label for="fileInput" class="file-drag-drop">
            Arrastre archivos aquí
            <span class="file-upload-btn">Seleccionar archivo</span>
          </label>
        </div>
  
        <div class="form-field">
          <label for="docName">Nombre del documento</label>
          <input type="text" id="docName" placeholder="Escribe aquí..." />
        </div>
  
        <div class="form-field">
          <label for="docDescription">Descripción de lo que es el documento</label>
          <textarea id="docDescription" placeholder="Escribe aquí..."></textarea>
        </div>
  
        <div class="form-field">
          <label for="versionComments">Comentarios de esta versión</label>
          <textarea id="versionComments" placeholder="Escribe aquí..."></textarea>
        </div>
  
        <button type="submit">Confirmar</button>
      </form>
    </div>
  </div>
</div>
  