<div class="Contenedor d-flex flex-row flex-shrink-0 p-3">
    <div class="col">
        <div class="row">
            <!-- Add a for loop, to make a card per folder -->
            <div *ngFor="let card of cards" class="card">
                <!-- Use an anchor tag to make the whole card clickable -->
                <a href="{{card.link}}" style="text-decoration: none; color: inherit;">
                    <img class="card-img-top pad" src="{{card.image}}" alt="Card image cap">
                    <div class="card-body">
                        <!-- <h5 class="card-title">{{card.title}}</h5> -->
                        <p class="card-text">{{card.description}}</p>
                    </div>
                    
                </a>
                
            </div>
        </div>
    </div>
</div>


<!--
  

<div class="container d-flex flex-row flex-shrink-0 p-3">

    <div class="col">
      <h2>Recent Documents</h2>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let document of documents">
          <h5>{{ document.nombre }}</h5>
          <small>Created on: {{ document.fechacreada | date:'mediumDate' }}</small>
        </li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let folder of folders">
          <h5>{{ folder.nombre }}</h5>
          <small>Created on: {{ folder.fechacreada | date:'mediumDate' }}</small>
        </li>
      </ul>
    </div>
  </div>
  
-->
