.app-container {
  display: flex;
  background-color: rgb(255, 255, 255);
}

.app-sidebar {
  /* Estilos para tu sidebar, por ejemplo: */
  width: 250px; /* o el ancho que desees */
  /* más estilos... */
}

.content {
  flex-grow: 1; /* Asegura que tome el espacio restante */
  /* más estilos... */
}
.bg {
    background-color: rgb(250, 244, 244);
}

/* Change background color to grey */
