.app-container {
  display: flex;
}

.app-sidebar {
  /* Estilos para tu sidebar, por ejemplo: */
  width: 250px; /* o el ancho que desees */
  /* más estilos... */
}

.content {
  flex-grow: 1; /* Asegura que tome el espacio restante */
  /* más estilos... */
}
.bg {
    background-color: rgb(84, 84, 84);
}

/* Change background color to grey */
