.sidebar {
  width: 37vh;
  height: 95vh; /* Altura del 100% del viewport */
  background-color: #ffffff; /* O cualquier otro color oscuro que prefieras */
  color: white;
  /* round edges */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  /* Separate from top and bottom */
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  margin-left: 0.5vh;
  /* Add a border line */
  border: 3px solid #615f5f;
  padding: 20px;
}
.side-nav-content {
  color: black;
  width: 230px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 15px;
  overflow-y: auto; /* Esto creará un scrollbar si el contenido es más alto que el contenedor */
  border: 3px solid white; /* Ajusta según sea necesario */
  margin: 10px; /* Ajusta según sea necesario */
  padding: 10px; /* Ajusta según sea necesario */
}

.nav-list{
  list-style:none;
  height: 50;
  padding: 0px;
  margin-bottom: 0%;
}
.nav-list a {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Hereda el color del elemento padre, por ejemplo, negro */
  display: block; /* Hace que el enlace llene el espacio de su contenedor li */
  padding: 10px 20px; /* Añade un poco de espacio alrededor del texto para hacer más fácil el clic */
}

.nav-list-item{
  padding: 4px 9px; /* Añade más padding para un mejor espaciado */
  margin: 5px 0; /* Añade un pequeño margen entre los ítems */
  background-color: #ffffff; /* Fondo blanco para los ítems */
  border-radius: 20px; /* Bordes redondeados */
 /* box-shadow: 0px 3px 6px #00000029; /* Sombra suave para darle profundidad */

}

.nav-list-item:hover{
  background-color: #e0e0e0;
}
:host {
  flex: 0 0 200px; /* Ejemplo de ancho fijo para el sidebar */
}
.row{
  font-weight: bold; /* Texto en negrita */
  color: #333; /* Color de texto oscuro para mayor contraste */
  padding-left: 20px; /* Alinea el texto con los ítems de la lista */
  margin-top: 20px; /* Espacio antes de cada nueva sección */
  border-left: 3px solid #333;
  
}
.row h5 {
  cursor: pointer;
  display: flex;
  align-items: center; /* Asegura que el texto y el ícono estén alineados verticalmente */
}
.row h5 i {
  margin-left: 10px; /* Espacio entre el texto y el ícono */
}
