<div class="sidebar d-flex flex-column flex-shrink-0 p-3"> 
<img width="250" [src]="imageSrc" alt="FSAE">
 <div class="side-nav-content border-white">
  <div class="row">
      Vehicle
  </div>
    <ul class="nav-list ">
      <li class="nav-list-item " *ngFor="let item of list">
        <i class="{{item.icon}}"></i>
        <span>
          <a [routerLink]="item.route">{{item.name}}</a>
        </span>
      </li>
    </ul>

    <div class="row">
      Administration
    </div>
    <ul class="nav-list">
    <li class="nav-list-item" *ngFor="let item of list2">
      <i class="{{item.icon}}"></i>
      <span>
        <a [routerLink]="item.route">{{item.name}}</a>
      </span>
    </li>
  </ul>
   </div>
</div>
  